.side-nav-container {
	background-color: var(--light-yellow);
	width: 300px;
	height: 100vh;
	position: fixed;
	color: var(--light-yellow);
	transition: 0.4s;
}
.side-nav-container-NX {
	width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
	display: grid;
}

.nav-heading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 75px;
}

.nav-brand {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.nav-brand img {
	width: 80px;
	padding: 0 10px;
	border-radius: 50%;
	background-color: var(--light-yellow);
	color: var(--light-yellow);
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: var(--light-blue);
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}
.hamburger:hover span {
	background-color: var(--light-blue);
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(-1px) rotate(-20deg);
}
.hamburger-in:hover span:nth-child(2) {
	display: none;
}
.hamburger-in:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(1px) rotate(20deg);
} 

.hamburger-out {
	margin-left: 24px;
}
.hamburger-out:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px) rotate(20deg);
}
.hamburger-out:hover span:nth-child(2) {
	display: none;
}
.hamburger-out:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px) rotate(-20deg);
}

.nav-menu {
	grid-template-rows: repeat(3, 1fr);
	margin-top: 50px;
}
.menu-item {
	height: 57px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: 5px 20px;
	border-radius: 10px;
}

.menu-item-NX {
	margin: 5px auto;
}
.menu-item:hover {
	background-color: var(--light-blue);
}
.menu-item img {
	width: 40px;
	padding: 0 20px;
}
.logout-icon {
	width: 30px;
	margin: auto;
	border-radius: 90px;
	padding: 5px;
	margin-left: 5px;
}
.logout-icon:hover {
	background-color: var(--light-blue);
}

 
@media screen and (max-width: 540px){
	
	.side-nav-container{
		transition: 0.4s;
	}
	.side-nav-container-NX{
		width: 50px;
	} 
	
	.hamburger{
		margin-left: 0;
	}
	.hamburger span {
		width: 25px;
	}
	.menu-item img {
		width: 30px;
		padding: 0 5px;
	}
}